
@{
    ViewBag.Title = "Index";
}



<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>
        Index
    </title>
    <body>
        <form action="Test" method="post">
            Ten: <input type="text" name="us" /><br/>
            Mk: <input type="password" name="mk" /><br />
            <input type="submit" /><br/>

        </form>
    </body>
</head>
</html>