
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    Test @ViewBag.msg
    <br/>
    @Session["username"]
    <a href="Logout">Dang xuat</a>
</body>
</html>
